<!--include header-->
<%- include('include/_headerInscripcion')%>
<!--/include header-->

   <!--Sitio Principal-->
   <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-inscripcion" class="border-shadow">
                <span class="text-gradient">Nueva Inscripcion <i class="fa-solid fa-circle-user"></i></span>
            </a>
        </div>
        <!-- Formulario-->
        <form action="/inscripcion" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Valor Cancelar</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!--los datos a mostrar-->
                    <%- include('include/_mostrarInscripcion')%>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!--/Sitio Principal-->

<!--include footer-->
<%- include('include/_footerInscripcion')%>
<!--/include footer-->