<!-- Formulario-->
<form action="/api/aspirantes" method="POST" id="add_aspirante">
    <div class="new_aspirante">
        <div class="form-group">
            <label for="nombre" class="text-light">Nombre</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="nombre" value="" placeholder="Ejemplo: Pedro">
        </div>
        <div class="form-group">
            <label for="correo" class="text-light">Correo</label>
            <input type="text" name="correo" value="" placeholder="Ejemplo: pedro@gmail.com">
        </div>
        <div class="form-group">
            <label for="identificacion" class="text-light">Identificacion</label>
            <input type="hidden" name="id" value="">
            <input type="number" name="identificacion" value="" placeholder="Ejemplo: 1315678956" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Guardar</button>
        </div>
    </div>
</form>