<!-- Formulario-->
<form action="/api/cursos" method="POST" id="add_curso">
    <div class="new_curso">
        <div class="form-group">
            <label for="descripcion" class="text-light">Descripcion</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="descripcion" value="" placeholder="Ejemplo: Programacion">
        </div>
        <div class="form-group">
            <label for="fecha_inicio" class="text-light">Fecha Inicio</label>
            <input type="text" name="fecha_inicio" value="" placeholder="Ejemplo: 10/10/2022">
        </div>
        <div class="form-group">
            <label for="hora_inicio" class="text-light">Hora Inicio</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="hora_inicio" value="" placeholder="Ejemplo: 10:00" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Guardar</button>
        </div>
    </div>
</form>